body{
  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

#navbarSupportedContent {
  margin-left: 30%;
  margin-top: 2%;
  font-weight: 500;
}

h1, h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contenido #acerca{
  text-align: center;
}

.navbar-default {
margin-top: 0px;
border-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  margin-left: 5%;
}

footer {
  margin-top: 40%;
  font-weight: 700;
}


#nombres, #apellidos, #telefono, #nacimiento, #correo, #genero{
  width: 250px;
  height: 35px;
}
