body {
  background: url(../img/fondoHome.png) no-repeat center top;
}
#navbarSupportedContent {
  margin-left: 30%;
  margin-top: 2%;
  font-weight: 500;
}

.navbar .nav > li > a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 35px;
  text-decoration: none;
}

.navbar-default {
margin-top: 0px;
border-color: transparent;
}

#logo {
  margin-left: 5%;
}

footer {
  margin-top: 40%;
  font-weight: 500;
}

div#historia3 ul{
  list-style-type: none;
}

div#historia3 ul li{
  padding: 20px 0px 0px 0px;
}

#nombres, #apellidos, #telefono, #nacimiento, #correo {
  width: 250px;
  height: 25px;
}