<div class="cabecera">
    <h2 class="tituloCabecera"> Noticias interesantes sobre Eternity </h2>
</div>
<div id="actualizacion" align="center">
    <div class="boxNosotros">
        <h3 class="subtituloNoticias">Actualización del catálogo</h3>
        <p class="textoNoticias">Incrementamos items dentro de nuestra línea de productos para regalar, chécalos en la página principal. </p>
    </div>
    <div class="boxNosotros">
        <h3 class="subtituloNoticias">Actualización de la ubicación de nuestro local</h3>
        <p class="textoNoticias">Nos mudamos a la Piazza de villaclub. Ahora podrás realizar tus compras físicamente en nuestro local ubicado en la Piazza de Villaclub a lado de Papa Johns. </p>
        <div id="contenedorImagenNoticia">
            <img id="imagenNoticia" src="../assets/img/local.jpg" alt="Local Eternity" class="center" />
        </div>
    </div>
</div>
<app-footer></app-footer>