
<div class='eternity' data-step="2" data-intro="La barra de navegacion se ve así. A continuación te mostraremos cada uno de sus componentes">
    <nav class="col-12 col-sm-12 navbar navbar-expand-lg navbar-light bg-warning navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="ml-5" id="logo" src="../assets/img/logoEternity.png" alt="Logo Eternity" data-step="1" data-intro="Bievenido a la pagina web de Eternity.ec " />
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link text-dark" routerLink="/home">HOME</a></li>
                <li class="nav-item"><a class="nav-link text-dark" routerLink="/administrador">DASHBOARD</a></li>
                <li class="nav-item"><a class="nav-link text-dark" routerLink="/crearproducto">CREAR PRODUCTOS</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="cabecera">
    <h2 class="tituloCabecera">Mi DashBoard</h2>
</div>
<div class="col" align="center">
    <div id="graficas" class="row">
        <div id="piechart" class="col-12 col-md-5"></div>
        <div id="columnchart_values" class="col-12 col-md-5"></div>
    </div>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    // Load google charts
    google.charts.load('current', {
        'packages': ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Torta de chocolate', 8],
            ['Pudin', 2],
            ['Bollo', 4],
            ['Torta mojada', 2],
            ['Otros', 8]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {
            'title': 'Productos mas vendidos',
            'width': 650,
            'height': 550
        };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    </script>
    <script>
    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Density", {
                role: "style"
            }],
            ["Enero", 8.94, "#b87333"],
            ["Febrero", 10.49, "silver"],
            ["Marzo", 19.30, "gold"],
            ["Abril", 21.45, "color: #e5e4e2"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);

        var options = {
            title: "Ventas por mes",
            width: 650,
            height: 550,
            bar: {
                groupWidth: "95%"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
    </script>
</div>
<app-footer></app-footer>