<div class="cabecera">
    <h2 class="tituloCabecera"> Sobre Eternity </h2>
    <p><img class="imagen" src="../assets/img/regalo.jpg" alt="Regalo" class="center" /></p>
</div>
<div id="historia" align="center">
    <div class="boxNosotros">
        <h3 class="subtituloNoticias">Misión</h3>
        <p class="textoNoticias">Ofrecer a nuestros clientes una gama de regalos personalizados para cada ocasión, encontrando el producto de calidad que usted desea para su familiar, amigo o trabajador , con los mejores precios del mercado y en el tiempo que usted lo requiera. </p>
    </div>
    <div class="boxNosotros">
        <h3 class="subtituloNoticias">Visión</h3>
        <p class="textoNoticias">Ser una empresa lider en ofrecer, a nuestros clientes, obsequios y regalos para esas fechas especiales, ofreciendo el mejor servicio y cubriendo sus necesidades y requerimientos,reconocidos por la calidad de nuestros productos.</p>
    </div>
    <div class="boxNosotros">
        <h3 class="subtituloNoticias">Productos</h3>
        <p class="textoNoticias">Ofrecemos variedad de regalos para toda ocasión. Puedes empezar adornando la mañana con un delicioso desayuno personalizado, o preferir regalar un dulce bouquet de fresas con chocolate, también puedes optar por ser detallista con nuestras opciones florales; de este modo unimos todo un conjunto de ideas e innovamos cada día productos para cada personita especial.</p>
    </div>
    <div class="boxNosotros">
        <h3 class="subtituloNoticias"> Sobre los creadores de esta página</h3>
        <div id="ulNosotros">
            <p class="textoNoticias"><strong>Emilio Gomez</strong> - Correo: ejgomez@espol.edu.ec</p>
            <p class="textoNoticias"><strong>Kleber Avelino</strong> - Correo: kavelino@espol.edu.ec</p>
            <p class="textoNoticias"><strong>Nicole Asqui</strong> - Correo: nasqui@espol.edu.ec</p>
            <p class="textoNoticias"><strong>Edwin Ullaguari</strong> - Correo: eullagua@espol.edu.ec </p>
        </div>
    </div>
</div>
<app-footer></app-footer>