.footer {
    background-color: #000;
    justify-content: center;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
}

.textFooter {
    font-size: 15px;
    margin-top: 5px;
    color: white;
    text-align: center;
    padding-bottom: 0.5%;
}

.facebook {
    margin-left: 0.5%;
    width: 35px;
    height: 35px;
}

.instagram {
    margin-right: 0.5;
    width: 35px;
    height: 35px;
}

.iconosRedes {
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 0.5%;
}

.facebook:hover {
    filter: sepia(60%);
}

.instagram:hover {
    filter: sepia(60%);
}